#feed {
  overflow-y: scroll;
  height: 65%;
}

.me {
  border-radius: 15px 15px 0px 15px;
  background-color: #54C7EC;
  padding: 15px;
}

.them {
  border-radius: 15px 15px 15px 0px;
  background-color: #F1F0F0;
  padding: 15px;
}

.me, .them {
  margin-bottom: 10px;
}